body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.circle-pic {
  border-radius: 50%;
  margin-top: 40px;
  width: 200px;
}
.top-container {
  position: relative;
  padding-top: 150px;
  background-color: #d8ecec;
}

a {
  color: #11999e;
  text-decoration: none;
  margin: 35px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.comp-screen {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game-screen {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  height: 112px;
  padding-top: 40px;
}

.footer {
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

hr {
  border-top: 7px dotted;
  width: 4%;
  color: black;
  margin: 100px auto;
  color: #d8d5d5;
  border-right: none;
  border-left: none;
  border-bottom: none;
  clear: right;
}
.cloud-1 {
  position: relative;
  left: 200px;
}

.cloud-2 {
  position: absolute;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.myButton:active {
  position: relative;
  top: 1px;
}
